@import "../styles/variables/variables.scss";

.container-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-main{
  margin-bottom: 40%;
}

.image-main{
  border-radius: 100px;
}
.title-news {
  margin-bottom: 8%;
  color: $activeColor;
  font: normal normal normal 67px/80px Monster Clubhouse;
}
.card {
  background: transparent linear-gradient(180deg, #e9f1fa 0%, #ffffff 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 10px 10px 20px -5px #cccccc;
  border-radius: 15px;
}

.cont-image {
  text-align: center;
}
.cont-image .image-card {
  margin-top: -30%;
  width: 164px;
  height: 158px;
}
.text-names {
  text-align: center;
  color: $activeColor;
}
.card-body {
  padding: 0 6%;
}
.first-name {
  font: normal normal normal 30px/36px Poppins;
  letter-spacing: -0.6px;
}
.second-name {
  font: normal normal normal 30px/36px Monster Clubhouse;
  letter-spacing: -0.6px;
}

.card-califica {
  display: flex;
  justify-content: space-between;
}

.calificacion {
  color: $unnamed-color;
  font-size: 26px;
  letter-spacing: -0.52px;
  opacity: 1;
  font: normal normal normal 26px/39px Poppins;
}

.conta-hover {
  text-align: center;
  padding-bottom: 2%;
}
.subtitle-hover {
  font: normal normal normal 17px/20px Monster Clubhouse;
  color: $activeColor;
  margin-top: -2%;
}

.text-body{
  font: normal normal normal 15px/20px Poppins;
  color: $unnamed-color;
}
