@import "../styles/variables/variables.css";

.container {
  padding: $paddingMain;
  background-color: $whiteColor;
}
.navbar {
  width: 100%;
  padding: 1% 0;
}

.title .text1 {
  font: normal normal normal 40px/48px Monster Clubhouse;
  letter-spacing: 1.15px;
  color: #425966;
}

.title .text2 {
  font: normal normal normal 30px/46px Poppins;
  letter-spacing: 0.86px;
  color: #d84a4a;
  opacity: 1;
}
.row {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
}
.navbar .li {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.navbar .li a {
  color: $unnamed-color;
  text-decoration: none;
  font-size: $sizeLetter;
}
.navbar .li .Home {
  color: $activeColor;
}
.navbar .li a:active {
  color: $activeColor;
}
.navbar .li a:visited {
  color: $activeColor;
}

.menu-responsive {
  display: none !important;
}

@media only screen and(max-width:912px) {
  .menu-responsive {
    display: block !important;
    float: right;
  }
  .li-desktop {
    display: none !important;
  }
}
